*,
*::before,
*::after {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  font-size: 1.8rem;
  color: #0f0f24;
}

html,
body {
  background-color: #4a4a9b;
  margin: 0;
  padding: 0;
  height: 100%;
}

div#root {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator {
  background-color: #0f0f24;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
}

.screen {
  background-color: #ffffff;
  margin: 0.4rem 0.4rem 0 0.4rem;
  padding: 0.5em 0.8em;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.screen-output {
  text-align: right;
  margin: 0;
}

.numpad {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 0.2rem;
}

.button {
  height: 1.8em;
  width: 1.8em;
  margin: 0.2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.button--other {
  background-color: #4a4a9b;
  color: white;
}

.button--operator {
  background-color: #a9a9ff;
}

@media (max-width: 600px) {
  *,
  *::before,
  *::after {
    font-size: 1.5rem;
  }
}

